{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col-xs-12">
            {% if request.user.is_authenticated %}
                <img src="{{ MEDIA_URL }}{{ request.user.profile.image }}"
                    class="profile-image img-circle">
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8">
            <h1>Hi, {{ user }}</h1>
            <p class="profile-text">Your ego ego points are at:</p>
        </div> 
        <div class="col-xs-4">
            <div class="ego-points">
                {{ user.profile.ego }} 
            </div>
        </div>
    </div>
{% endblock %}